TOKEN=your_discord_bot_token

GOOGLE_DRIVE_FOLDER_ID=your_google_drive_folder_id
GOOGLE_CREDENTIALS=credentials/discord-backup.json
GOOGLE_CLIENT_SECRET=credentials/client_secret.json
GOOGLE_TOKEN=credentials/token.json

BACKUP_INTERVAL=30
BACKUP_DEBOUNCE=60
